cloudconvert
streamlit
langchain
google-generativeai
python-docx
PyPDF2
Pillow
python-multipart
python-dotenv
langchain-google-genai
requests>=2.31.0
SpeechRecognition>=3.10.1
pdf2docx
elevenlabs
playsound==1.2.2
